@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ProductDTO>
<h1>Каталог</h1>
    <div class="shell">
        <div class="container">
            <div class="row">
    @foreach(var i in Model)
    {
        <div class="col-md-3">
            <div class="wsk-cp-product">
                <div class="wsk-cp-img"><img src="@i.ProductImg" alt="Product" class="img-responsive" /></div>
                <div class="wsk-cp-text">
                    <div class="category">
                        <a asp-action="Details" asp-route-id="@i.ProductId">Подробнее</a>
                    </div>
                    <div class="title-product">
                        <h3>@i.ProductName</h3>
                    </div>
                    <div class="description-prod">
                        <p>@Html.Raw(i.ProductDescription)</p>
                    </div>
                    <div class="card-footer">
                        <div class="wcf-left"><span class="price">@i.ProductPrice $</span></div>
                                <div class="wcf-right"><a href="#" class="buy-btn"><i class="bi bi-cart-plus"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        
    }
</div>
</div>
</div>
